# Environment variables required for the app to function correctly
SECRET_KEY=put-a-secret-key-here
ADMIN_EMAILS=name@example.com
DEFAULT_FROM_EMAIL=name@example.com
EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_HOST_USER=admin@example.com
EMAIL_HOST_PASSWORD=my-smtp-password
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_TIMEOUT=10
SERVER_EMAIL=name@example.com
FILE_ENCRYPTION_KEY=abcdefghijklmnopqrstuvwxyz0123456789abcdefghijklmnopqrstuvwxyz0123456789


# Optional variables to affect how the app functions
#DEBUG=True
#PRINT_LOGIN_CODE_ALWAYS=False
#DATABASE_URL="username:password@server:port/databasename"
#LOG_LEVEL=INFO

# Add as many emails as you wish to send from
#EMAIL_SENDER_ACCOUNTS_JSON="[
#                                {
#                                    "key": "email1",
#                                    "display_name": "Example Team Admin",
#                                    "email": "admin@example.com",
#                                    "username": "admin@example.com",
#                                    "password": "password123"
#                                },
#                                {
#                                    "key": "email2",
#                                    "display_name": "Example Team Notifications",
#                                    "email": "noreply@example.com",
#                                    "username": "noreply@example.com",
#                                    "password": "hunter2"
#                                }
#                            ]"
