{% extends 'base.html' %}
{% load static %}
{% block title %}Parents{% endblock %}
{% block nav_parents_active %} active{% endblock %}
{% block content %}
    <div class="row mb-3">
        <div class="col"><h1 class="h3">Parents / Emergency Contacts</h1></div>
        <div class="col-auto d-flex gap-2">
            {% if perms.programs.add_adult %}
                <a class="btn btn-primary" href="{% url 'parent_create' %}?next={% url 'parent_list' %}">Add Parent</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-auto d-flex gap-2">
            <p class="text-muted">These are all parents/guardians in the system. To see them specific to a child, go through the <a href="{% url 'student_list' %}">Students</a> page.</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-auto d-flex gap-2">
            <p class="text-muted"><span class="ms-2" title="This parent receives email updates">✔️</span> means the parent receives email updates through the messaging system.</p>
        </div>
    </div>
  {% if parents %}
    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th>Name</th>
            <th>Student(s)</th>
            <th>Email</th>
            <th>Phone</th>
            <th class="text-end"></th>
          </tr>
        </thead>
        <tbody>
          {% for p in parents %}
            <tr>
              <td>{{ p.first_name }} {{ p.last_name }}</td>
              <td>
                {% for s in p.students.all %}
                  {{ s }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                  
                {% endfor %}
              </td>
              <td>
                  {% if p.email and p.email_updates %}
                      <span class="ms-2" title="This parent receives email updates">✔️</span>
                  {% endif %}
                {% if p.email %}<a href="mailto:{{ p.email }}">{{ p.email }}</a>{% endif %}
              </td>
              <td>{% if p.phone_number %}<a href="tel:{{ p.phone_number }}">{{ p.phone_number }}</a>{% endif %}</td>
              <td class="text-end">
                {% if perms.programs.change_adult %}
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'parent_edit' p.id %}?next={% url 'parent_list' %}">Edit</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="alert alert-info">No parents found.</div>
  {% endif %}
{% endblock %}
