{% extends "programs/emails/base_notification.html" %}

{% block title %}New Fee: {{ fee.name }}{% endblock %}

{% block header %}New Fee Added{% endblock %}

{% block content %}
<p>A new fee has been added to the program <strong>{{ program.name }}</strong> for <strong>{{ student }}</strong>:</p>

<ul>
    <li><strong>Fee Name:</strong> {{ fee.name }}</li>
    <li><strong>Amount:</strong> ${{ fee.amount }}</li>
    <li><strong>Effective Date:</strong> {{ fee.effective_date|default:fee.created_at.date }}</li>
    {% if fee.due_date %}
    <li><strong>Due Date:</strong> {{ fee.due_date }}</li>
    {% endif %}
</ul>

{#<p>Log in to the portal to view the full balance sheet.</p>#}

<p>If you are on the sliding scale plan, the rate will be discounted to reflect that.</p>
<p>To pay the fee:</p>

<ul>
    <li><strong>Pay online</strong> through the Online Payment Portal: <a href="https://commerce.cashnet.com/CMU267">https://commerce.cashnet.com/CMU267</a></li>
    <li><strong>Pay by check</strong> made out to &quot;Carnegie Mellon University&quot; and mail to: <br>
        Lynnetta Miller or Kaitlyn Buss<br>
        Girls of Steel Robotics<br>
        The Robotics Institute<br>
        5000 Forbes Ave<br>
        Pittsburgh, PA 15213-3890
    </li>
</ul>

<p>Please reply to this email, or send a new email to <a href="mailto:leads@girlsofsteelrobotics.org">leads@girlsofsteelrobotics.org</a> to let us know what method you paid.</p>

{% endblock %}
